app-195247_web_standalone_build-155645/_next/data/OwkD61qeVros5RGlX-51-/page.Page3.json
{"pageProps":{"initialState":{"dolanData":{},"dolanConfig":{},"isLoading":false,"isAuthenticated":false,"isDolanReady":true,"didInvalidateDolan":false,"spinnerText":"","spinnerBackgroundColor":null,"dolanTimestamp":1613222053917,"navConfig":{"blueprint":"legacy","legacyLayouts":{"webMenuType":"side_left"},"initPageId":"page.Page1","defaultPageId":"page.Page1","authenticationEnabled":false,"authPageId":"page.Page1","enabled":true,"headerEnabled":true,"headerText":"Strive4 Workouts","tabs":[{"title":"Home","name":"t0"},{"title":"Schedule","name":"t1"},{"title":"About Workouts","name":"t2"}],"screens":["page.Page1","page.Page2","page.Page3","page.Page4"],"routeConfigs":{"t0":{"initialRouteName":"page.Page1","iconName":"home"},"Login":{},"t1":{"initialRouteName":"page.Page4","iconName":"calendar"},"t2":{"initialRouteName":"page.Page3","iconName":"question"}}}},"route":{"name":"page.Page3","key":"page.Page3"},"screens":{"page.Page1":{"initStateProps":{},"pageFlowId":"page:1","pageId":"page.Page1","title":"Strive4 Workouts","parameters":{},"pageVariables":{},"events":{"onPageDidMount":[{"id":"7858b90452068.944eb519d9295"}]},"components":[{"id":"1-355d6af4-a358-406d-847f-a5e5e272b9f3","ch":[{"id":"307c4e70-2ed9-4b49-91cc-cec636c025a8"},{"id":"4c38772d-3352-4a8a-a040-346ac989f1f3"},{"id":"b13927de-bb28-46d0-b9e8-5528accd36df"},{"id":"c5e826b3-c196-441b-8486-6679eb30f31d"},{"id":"b12157c1-ff85-4ed3-9a69-38bf79214773"}]}]},"page.Page2":{"initStateProps":{},"pageFlowId":"page:2","pageId":"page.Page2","title":"Global canvas","isGlobalCanvas":true,"parameters":{},"pageVariables":{},"events":{},"components":[{"id":"2-5b3fa4ab-4ade-47d7-b331-41733aa5888b"}]},"page.Page3":{"initStateProps":{},"pageFlowId":"page:3","pageId":"page.Page3","title":"About Workouts","parameters":{},"pageVariables":{},"events":{"onPageDidMount":[{"id":"1bfea4fa79bf1.5c68141030cb"}]},"components":[{"id":"3-38ca6327-f385-41aa-9915-8654c43825b1","ch":[{"id":"4b9eafba-390d-4b0e-a81a-51dfdccc47e4"},{"id":"a35a7103-846e-4a79-9da5-b9837a45361c"},{"id":"a988e759-f52a-42fe-8dcc-246cf5f58197"},{"id":"eec5ac32-af20-4d07-a3e2-ff111845e486"},{"id":"4486ffd2-1348-47ea-9fee-9301c106324a"},{"id":"c63e52dc-76a3-4532-b627-97a650807c5c"},{"id":"ad76727c-bfdb-43c4-9e33-b490008c4d24"}]}]},"page.Page4":{"initStateProps":{"534e1bf5-85e2-4627-bb6d-f769732a37a7":["source","label","description"],"5b253534-ef5a-4c4f-9e9a-34b885d8d17b":["source","label","description"],"ff7793e7-a8f8-409a-ad90-8458cde33a88":["source","label","description"],"741dd788-bce1-4217-8d36-ebc87d03517a":["source","label","description"],"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0":["source","label","description"]},"pageFlowId":"page:4","pageId":"page.Page4","title":"Workout Schedule","parameters":{},"pageVariables":{},"events":{"onPageDidMount":[{"id":"afbebc812d99.e7cec93e5cf43"}]},"components":[{"id":"4-7de00a33-c855-4206-b363-7f502e37c68a","ch":[{"id":"3888c3fe-0417-4c56-aba1-1f6ee7937848"},{"id":"936aaa24-1f28-4d62-bc47-cc3579ed3329"},{"id":"d1e7b885-083c-4f0c-88b6-c7a8fe765fb3","ch":[{"id":"ebe7a6dd-3a0c-4439-8ff1-4497324ef303","ch":[{"id":"928c92b1-5535-4f9d-96e2-e0af179e8df3"}]},{"id":"009e371a-4090-4cc8-88ac-2bcf744cc9ae"},{"id":"0e0c3955-9c0f-4dea-940f-8e27897ebdbc","ch":[{"id":"daf83e8a-cedb-4a13-8795-c3f4b7e265ab"}]}]},{"id":"534e1bf5-85e2-4627-bb6d-f769732a37a7","ch":[{"id":"9e62074b-fa98-4b9d-a820-5c9533776228","ch":[{"id":"f3d0ea85-5bd4-424a-b9fc-5e260124733f"}]},{"id":"97a4ef84-00af-4073-9748-24fe7192d2c0","ch":[{"id":"dd372f51-1749-4186-84a7-63d565a46474"},{"id":"22c01374-726e-4551-9480-7f3f1c9603c0"}]}]},{"id":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b","ch":[{"id":"fec2e1ba-03b8-4872-b58b-5c9533776228","ch":[{"id":"dde9478a-71bc-484f-aa69-5e260124733f"}]},{"id":"f8fa075a-4e91-4dae-874e-24fe7192d2c0","ch":[{"id":"a396aa68-9ffc-464e-abc1-63d565a46474"},{"id":"f58aef86-16b2-48ce-91df-7f3f1c9603c0"}]}]},{"id":"ff7793e7-a8f8-409a-ad90-8458cde33a88","ch":[{"id":"133b3f41-da4c-4111-8343-5c9533776228","ch":[{"id":"c821bf33-d40d-49e3-8667-5e260124733f"}]},{"id":"d1ae8e62-5eb2-4e08-9b86-24fe7192d2c0","ch":[{"id":"364fcb0c-7d15-4d2d-8800-63d565a46474"},{"id":"b6fa92b9-8fd6-4a03-9efc-7f3f1c9603c0"}]}]},{"id":"741dd788-bce1-4217-8d36-ebc87d03517a","ch":[{"id":"2cfe8a66-601a-46bd-8d3c-5c9533776228","ch":[{"id":"b62376b5-1450-4468-aa34-5e260124733f"}]},{"id":"9dd6c775-2844-4958-8503-24fe7192d2c0","ch":[{"id":"13b1bbee-fb03-4665-9125-63d565a46474"},{"id":"439da43b-8324-4418-bc84-7f3f1c9603c0"}]}]},{"id":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","ch":[{"id":"469bcee5-4f02-458c-8ca3-5c9533776228","ch":[{"id":"84eb3ad2-9b89-4b4c-8598-5e260124733f"}]},{"id":"e94f58c6-10bd-402b-9c7f-24fe7192d2c0","ch":[{"id":"71fe0fce-fee2-41e1-9b5b-63d565a46474"},{"id":"a03471cb-0ad0-444c-a854-7f3f1c9603c0"}]}]}]}]}},"flows":[{"x":420,"y":50,"z":"own_1d6d336a.9126c","id":"10544d20.64c85","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_bd0c25ba.5aaf3","id":"1182b19b.3b257","func":"const {\n  title,\n  message,\n  dismissLabel,\n  supersonic,\n} = inputs;\n\nawait supersonic.api.alert.show({\n  title,\n  message,\n  buttonTitle: dismissLabel,\n});","type":"function2","noerr":0,"wires":[["d12b40e5.694bb"]],"outputs":1,"function_inputs":{"key":{"title":{"key":"title","source":"input"},"message":{"key":"message","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"dismissLabel":{"key":"dismissLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_8fe6bea6.1072","id":"1333ac45.8009c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_97b54227.3b127","id":"147f90f1.617fe","func":"const {\n  time,\n  unit,\n} = msg;\n\nconst unitCoefficientMap = {\n  ms: 1,\n  s: 1000,\n  min: 1000 * 60,\n  h: 1000 * 60 * 60,\n};\n\nif (time <= 0) {\n  return msg;\n}\n\nconst timeToWait = time * unitCoefficientMap[unit];\n\nif (supersonic.api.delay) {\n  supersonic.api.delay(() => { node.send(msg); }, timeToWait, msg.contextId);\n} else {\n  setTimeout(() => {\n    node.send(msg);\n  }, timeToWait);\n}","type":"function","noerr":0,"wires":[[]],"outputs":1},{"x":210,"y":40,"z":"own_2277ac59.912ff","id":"14ff44fa.42c4b","func":"const {\n  page,\n  params,\n  openInModal,\n  supersonic,\n} = inputs;\nconst obj = {\n  route: page,\n  params: params || {},\n};\nconst action = openInModal ? 'pushToModal' : 'pushToStack';\nawait supersonic.api.navigation[action](obj);","type":"function2","noerr":0,"wires":[["b1539337.3b2a5"]],"outputs":1,"function_inputs":{"key":{"page":{"key":"page","source":"input"},"params":{"key":"params","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"openInModal":{"key":"openInModal","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_105ec0bb.2f7d7","id":"15f7596e.557a0","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_d51109f.3b25d","id":"19b93bf3.89208","func":"const { request, supersonic } = inputs;\nconst { resourceName, id, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  if (!resourceConfig) {\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.find(resourceName, id, {});\n    return data && data.value && data.value.object;\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      return record;\n    }\n    throw new Error(`Record ${resourceName} with ID ${id} not found`);\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.find(resourceConfig.agdb_id, id, {});\n    return data && data.value && data.value.object;\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.retrieve;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting a single record`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  if (!result) {\n    throw new Error(`A ${resourceName} record not found from the response!`);\n  }\n  return result;\n}\n\ntry {\n  const record = await makeRequest();\n  if (Array.isArray(record)) {\n    const errorStr = 'The server responded with a list for a single data record. The response must be an object.';\n    return [1, {\n      error: {\n        code: 'responseMustBeObject',\n        status: -1,\n        message: errorStr,\n        rawError: new Error(errorStr),\n      },\n    }];\n  }\n  return [0, { record }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["c55913f3.8d802"],["731bd1e9.4983c"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get is not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_21057d66.1a85e","id":"1b4bfc12.808a7","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_100f5064.6f140","id":"1c88f5a9.1d6dc","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_1155863c.647c5","id":"1d7dd9e0.32b6e","func":"const {\n  url,\n  withButton,\n  supersonic,\n} = inputs;\ntry {\n  return await supersonic.api.webBrowser.open({\n    url,\n    withButton,\n  });\n} catch (error) {\n  return [1, {\n    error: {\n      code: 'unknown',\n      message: 'Unknown error occured while opening the web browser.',\n      rawError: error,\n    },\n  }];\n}","type":"function2","noerr":0,"wires":[["3d757b47.8555d"],["1d9dc881.1fb91"]],"outputs":2,"function_inputs":{"key":{"url":{"key":"url","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"withButton":{"key":"withButton","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occured while opening the web browser."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_1155863c.647c5","id":"1d9dc881.1fb91","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1d7dd9e0.32b6e","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_91f3e62e.3f65c","id":"1eb859fe.2c9fd","func":"const { supersonic, contextId } = inputs;\nawait supersonic.api.spinner.hide(contextId);","type":"function2","noerr":0,"wires":[["2efe9993.2abdf"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_1d6d336a.9126c","id":"1ed52ea2.56495","func":"const { request, supersonic } = inputs;\nconst { resourceName, properties = {}, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.create(resourceName, { object: properties });\n    return data && data.value && data.value.object;\n  }\n\n  // Create a local data resource\n  if (resourceConfig.type === 'local') {\n    const { id } = properties;\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} already exists`);\n    }\n    await supersonic.api.asyncStorage.setItem({ key, data: properties });\n    return properties;\n  }\n  // Create an AGDB data resource\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.create(resourceConfig.agdb_id, { object: properties });\n    return data && data.value && data.value.object;\n  }\n  // Create a \"REST\" data resource\n  const operation = resourceConfig.operations.create;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support creating new records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'POST', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (e) {\n    result = null;\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["10544d20.64c85"],["ca3c4967.8fc25"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_100f5064.6f140","id":"1fe9fc4d.4458c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"records":{"key":"records@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_91f3e62e.3f65c","id":"2efe9993.2abdf","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_1155863c.647c5","id":"3d757b47.8555d","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_21057d66.1a85e","id":"441d4b92.6ac8d","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  id,\n  properties = {},\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.update(resourceName, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.update(resourceConfig.agdb_id, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n  // Update a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    // Omit the 'id' from the properties in case it has it\n    const updatedProperties = { ...properties };\n    delete updatedProperties.id;\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record == null || typeof record !== 'object' || typeof record.id === 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} does not exist`);\n    }\n    const updatedRecord = { ...record, ...updatedProperties };\n    await supersonic.api.asyncStorage.setItem({ key, data: updatedRecord });\n    return updatedRecord;\n  }\n  // Update a \"REST\" data resource\n  const operation = resourceConfig.operations.replace;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support updating records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const method = operation.method || 'PUT';\n  const response = await fetch(url, { method, headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["58e438b4.7c48c"],["1b4bfc12.808a7"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_21057d66.1a85e","id":"58e438b4.7c48c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_8fe6bea6.1072","id":"6afc87de.47ec9","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  properties,\n  id,\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    await supersonic.resource.remove(resourceName, id);\n    return {};\n  }\n  // Delete a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    await supersonic.api.asyncStorage.removeItem({ key });\n    return {};\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.remove(resourceConfig.agdb_id, id);\n    return data && data.value && data.value.object;\n  }\n  // Delete a \"REST\" data resource\n  const operation = resourceConfig.operations.delete;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support deleting records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'DELETE', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (error) {\n    result = {};\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1333ac45.8009c"],["6b1b3c9b.2009a"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_8fe6bea6.1072","id":"6b1b3c9b.2009a","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_d51109f.3b25d","id":"731bd1e9.4983c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_2277ac59.912ff","id":"b1539337.3b2a5","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_d51109f.3b25d","id":"c55913f3.8d802","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"record":{"key":"record@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_1d6d336a.9126c","id":"ca3c4967.8fc25","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_bd0c25ba.5aaf3","id":"d12b40e5.694bb","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_105ec0bb.2f7d7","id":"dd5da27b.11c99","func":"const { assignment, supersonic, contextId } = inputs;\nconst { reference, data } = assignment || {};\nawait supersonic.context.setDataReference(reference, data, true, contextId);","type":"function2","noerr":0,"wires":[["15f7596e.557a0"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"assignment":{"key":"assignment","source":"input"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_100f5064.6f140","id":"f0bf1a1a.10aa3","func":"const { request, supersonic } = inputs;\nconst { resourceName, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n\n  if (!resourceConfig || resourceConfig.type === 'agdb') {\n    // This is assumed to be a legacy data resource\n    const query = parameters.query || {};\n    // AGDB -related parameters are added to the query in a special way\n    const { sort } = parameters;\n    const { filters } = parameters;\n    const { limit } = parameters;\n    const { skip } = parameters;\n\n    if (sort != null) {\n      query.sort = JSON.stringify(sort);\n    }\n    if (filters != null) {\n      query.query = JSON.stringify(filters);\n    }\n    if (limit != null) {\n      query.limit = limit;\n    }\n    if (skip != null) {\n      query.skip = skip;\n    }\n\n    const backendResourceName = (resourceConfig && resourceConfig.agdb_id) || resourceName;\n    const data = await supersonic.resource.findAll(backendResourceName, query);\n    return (data && data.value && data.value.objects) || [];\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const keyPrefix = `local-resource:${appId}:${resourceName}:`;\n    const { data: allKeys } = await supersonic.api.asyncStorage.getAllKeys();\n    const keys = allKeys.filter((key) => key.startsWith(keyPrefix));\n    const { data: results } = await supersonic.api.asyncStorage.multiGet({ data: keys });\n    return (results || [])\n      .map(([, record]) => {\n        if (typeof record === 'string') {\n          try {\n            return JSON.parse(record);\n          } catch (error) {\n            return null;\n          }\n        }\n        return record;\n      })\n      .filter((record) => record != null && typeof record === 'object' && typeof record.id !== 'undefined');\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.list;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting record collections`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  const responseJson = await response.json();\n  let results = responseJson;\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (results != null && resultPath.length) {\n    results = results[resultPath.shift()];\n  }\n  if (!Array.isArray(results)) {\n    throw new Error(`\nThe result was not an array. Maybe the data you're looking for is inside one of the response object keys?\n\n${JSON.stringify(responseJson, null, 2)}\n`);\n  }\n  return results;\n}\n\ntry {\n  const records = await makeRequest();\n  return [0, { records }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1fe9fc4d.4458c"],["1c88f5a9.1d6dc"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get is not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}]},{"id":"own_8fe6bea6.1072","in":[{"x":40,"y":40,"wires":[{"id":"6afc87de.47ec9"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1333ac45.8009c","port":0}]},{"x":490,"y":100,"wires":[{"id":"6b1b3c9b.2009a","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceDeleteRequest","title":"Delete data record request","minLength":1,"description":"Configuration required by the data resource to delete a single data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_d51109f.3b25d","in":[{"x":40,"y":40,"wires":[{"id":"19b93bf3.89208"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"c55913f3.8d802","port":0}]},{"x":490,"y":100,"wires":[{"id":"731bd1e9.4983c","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceRetrieveRequest","title":"Get data record request","minLength":1,"description":"Configuration required by the selected data resource to get a single data record."}],"outputSchemas":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get is not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_100f5064.6f140","in":[{"x":40,"y":40,"wires":[{"id":"f0bf1a1a.10aa3"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1fe9fc4d.4458c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1c88f5a9.1d6dc","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceListRequest","title":"Get data record collection request","minLength":1,"description":"Configuration required by the selected data resource to get a collection of data records."}],"outputSchemas":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get is not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_105ec0bb.2f7d7","in":[{"x":40,"y":40,"wires":[{"id":"dd5da27b.11c99"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"15f7596e.557a0","port":0}]}],"type":"subflow","arguments":[{"name":"assignment","type":"dataReferenceAssignment","title":"Data variable","minLength":1,"description":"Data variable to set"}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1155863c.647c5","in":[{"x":40,"y":40,"wires":[{"id":"1d7dd9e0.32b6e"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"3d757b47.8555d","port":0}]},{"x":490,"y":100,"wires":[{"id":"1d9dc881.1fb91","port":0}]}],"type":"subflow","arguments":[{"name":"url","type":"string","title":"URL to open","minLength":1,"description":"Web URL to open."},{"name":"withButton","type":"boolean","title":"Cancel button required","default":false,"description":"Should there be a cancel button on top of the web view?"}],"buildservice":{"platforms":{"ios":{"includedPlugins":["react-native-webview"]},"web":{},"android":{"includedPlugins":["react-native-webview"]}}},"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `unknown`: Thrown if an unknown error occured while opening the web browser."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1d6d336a.9126c","in":[{"x":40,"y":40,"wires":[{"id":"1ed52ea2.56495"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"10544d20.64c85","port":0}]},{"x":490,"y":100,"wires":[{"id":"ca3c4967.8fc25","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceCreateRequest","title":"Create data record request","minLength":1,"description":"Configuration required by the selected data resource to create a new data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_21057d66.1a85e","in":[{"x":40,"y":40,"wires":[{"id":"441d4b92.6ac8d"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"58e438b4.7c48c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1b4bfc12.808a7","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceReplaceRequest","title":"Update data record request","minLength":1,"description":"Configuration required by the selected data resource to update an existing data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_2277ac59.912ff","in":[{"x":40,"y":40,"wires":[{"id":"14ff44fa.42c4b"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"b1539337.3b2a5","port":0}]}],"type":"subflow","arguments":[{"name":"page","type":"page","title":"Page","minLength":1,"description":"Target page to navigate to."},{"name":"params","type":"object","title":"Parameters","minLength":1,"description":"Parameters to pass to the target page."},{"name":"openInModal","type":"boolean","title":"Open in modal?","default":false,"minLength":1,"description":"If `true`, the page will be opened in a modal window."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_91f3e62e.3f65c","in":[{"x":40,"y":40,"wires":[{"id":"1eb859fe.2c9fd"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"2efe9993.2abdf","port":0}]}],"type":"subflow","arguments":[],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_97b54227.3b127","in":[{"x":40,"y":40,"wires":[{"id":"147f90f1.617fe"}]}],"out":[{"x":380,"y":40,"wires":[{"id":"147f90f1.617fe","port":0}]}],"type":"subflow","arguments":[{"name":"time","type":"number","title":"Time to wait","default":500,"minLength":1,"description":"Time to wait as an integer. Negative values result in 0 delay."},{"enum":["ms","s","min","h"],"name":"unit","type":"string","title":"Unit","default":"ms","minLength":1,"description":"Unit of time to wait: `ms` for millisecond, `s` for second, `min` for minute and `h` for hour."}],"outputArguments":[]},{"id":"own_bd0c25ba.5aaf3","in":[{"x":40,"y":40,"wires":[{"id":"1182b19b.3b257"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"d12b40e5.694bb","port":0}]}],"type":"subflow","arguments":[{"name":"title","type":"json","title":"Dialog title","minLength":1,"description":"Title text to show on the alert dialog."},{"name":"message","type":"json","title":"Dialog message","description":"Message text to show under the title."},{"name":"dismissLabel","type":"string","title":"Dismiss button label","default":"OK","description":"Text label on the dismiss button."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"x":375,"y":85,"z":"page:1:component:4c38772d-3352-4a8a-a040-346ac989f1f3","id":"96756c5.1fca39","page":"page.Page4","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page4","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page1"},{"x":374,"y":82,"z":"page:1:component:c5e826b3-c196-441b-8486-6679eb30f31d","id":"978db15e.b84d3","url":"https://www.strive4.uk/contact","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.strive4.uk/contact","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page1"},{"x":100,"y":30,"z":"page:1:component:b12157c1-ff85-4ed3-9a69-38bf79214773","id":"1382ff1a.5d3761","type":"event","wires":[["30d1a949.9dd0c6"]],"idType":"event","eventSource":"page:1:component:b12157c1-ff85-4ed3-9a69-38bf79214773:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page1"},{"x":100,"y":30,"z":"page:1:component:c5e826b3-c196-441b-8486-6679eb30f31d","id":"1c4d1872.cc7468","type":"event","wires":[["978db15e.b84d3"]],"idType":"event","eventSource":"page:1:component:c5e826b3-c196-441b-8486-6679eb30f31d:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page1"},{"x":456,"y":61,"z":"page:1:component:b12157c1-ff85-4ed3-9a69-38bf79214773","id":"30d1a949.9dd0c6","url":"https://www.strive4.uk/contact","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.strive4.uk/contact","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page1"},{"x":100,"y":30,"z":"page:1:component:4c38772d-3352-4a8a-a040-346ac989f1f3","id":"bbf51665.8e2918","type":"event","wires":[["96756c5.1fca39"]],"idType":"event","eventSource":"page:1:component:4c38772d-3352-4a8a-a040-346ac989f1f3:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page1"},{"x":110,"y":40,"z":"page:1","id":"7858b90452068.944eb519d9295","type":"event","wires":[["bd4c3342ce27b.f26420e8df132"]],"idType":"event","eventSource":"page:1:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page1"},{"x":320,"y":40,"z":"page:1","id":"bd4c3342ce27b.f26420e8df132","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page1"},{"x":100,"y":30,"z":"page:3:component:ad76727c-bfdb-43c4-9e33-b490008c4d24","id":"4fcdbedf.0cedc","type":"event","wires":[["973236c5.aff2a8"]],"idType":"event","eventSource":"page:3:component:ad76727c-bfdb-43c4-9e33-b490008c4d24:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page3"},{"x":361,"y":77,"z":"page:3:component:ad76727c-bfdb-43c4-9e33-b490008c4d24","id":"973236c5.aff2a8","url":"https://www.justgiving.com/fundraising/owen-pettiford-strive4","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":false,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.justgiving.com/fundraising/owen-pettiford-strive4","source":"str"},"withButton":{"key":false,"source":"bool"}},"pageId":"page.Page3"},{"x":110,"y":40,"z":"page:3","id":"1bfea4fa79bf1.5c68141030cb","type":"event","wires":[["65ff399b75d8a.0d7b2d350f714"]],"idType":"event","eventSource":"page:3:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page3"},{"x":320,"y":40,"z":"page:3","id":"65ff399b75d8a.0d7b2d350f714","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page3"},{"x":423,"y":67,"z":"page:4:component:daf83e8a-cedb-4a13-8795-c3f4b7e265ab","id":"77f91f0b.6e0e4","url":"https://www.youtube.com/c/owenpettifordstrive4/playlists?view=50&sort=dd&shelf_id=5","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/c/owenpettifordstrive4/playlists?view=50&sort=dd&shelf_id=5","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":398,"y":71,"z":"page:4:component:928c92b1-5535-4f9d-96e2-e0af179e8df3","id":"9282829d.2e8e9","url":"https://www.youtube.com/c/owenpettifordstrive4/videos?view=2&sort=dd&live_view=502&shelf_id=2","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/c/owenpettifordstrive4/videos?view=2&sort=dd&live_view=502&shelf_id=2","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":345,"y":58,"z":"page:4:component:534e1bf5-85e2-4627-bb6d-f769732a37a7","id":"ae73a327.fb683","url":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqifIFYLojW21bYT2kCDEf6Q","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqifIFYLojW21bYT2kCDEf6Q","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":425,"y":80,"z":"page:4:component:ff7793e7-a8f8-409a-ad90-8458cde33a88","id":"f998dc06.385b7","url":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqjsn21dtp5dSWGoEYrur37O","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqjsn21dtp5dSWGoEYrur37O","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":434,"y":61,"z":"page:4:component:741dd788-bce1-4217-8d36-ebc87d03517a","id":"27a5fbe5.7cae64","url":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqhZGPoHsHLJXi6qiy87USZu","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqhZGPoHsHLJXi6qiy87USZu","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:928c92b1-5535-4f9d-96e2-e0af179e8df3","id":"2c849577.4133aa","type":"event","wires":[["9282829d.2e8e9"]],"idType":"event","eventSource":"page:4:component:928c92b1-5535-4f9d-96e2-e0af179e8df3:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:daf83e8a-cedb-4a13-8795-c3f4b7e265ab","id":"541dc8c1.73fa38","type":"event","wires":[["77f91f0b.6e0e4"]],"idType":"event","eventSource":"page:4:component:daf83e8a-cedb-4a13-8795-c3f4b7e265ab:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":399,"y":104,"z":"page:4:component:5b253534-ef5a-4c4f-9e9a-34b885d8d17b","id":"5cc0aa2f.9c1ae4","url":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqiWCDy2t6ZUQAbeZi6Gg0yL","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqiWCDy2t6ZUQAbeZi6Gg0yL","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":401,"y":70,"z":"page:4:component:a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","id":"f6393b83.8b5c78","url":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqjGIKBgSmD36hg5DTFTH1Ku","type":"subflow:own_1155863c.647c5","wires":[[],[]],"url-type":"str","withButton":true,"withButton-type":"bool","subflow_input_arguments":{"url":{"key":"https://www.youtube.com/playlist?list=PL7CnQlmxjIqjGIKBgSmD36hg5DTFTH1Ku","source":"str"},"withButton":{"key":true,"source":"bool"}},"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:ff7793e7-a8f8-409a-ad90-8458cde33a88","id":"126c1f2bc685.7dec88","type":"event","wires":[["f998dc06.385b7"]],"idType":"event","eventSource":"page:4:component:ff7793e7-a8f8-409a-ad90-8458cde33a88:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:5b253534-ef5a-4c4f-9e9a-34b885d8d17b","id":"08452204086da.7dec88","type":"event","wires":[["5cc0aa2f.9c1ae4"]],"idType":"event","eventSource":"page:4:component:5b253534-ef5a-4c4f-9e9a-34b885d8d17b:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:741dd788-bce1-4217-8d36-ebc87d03517a","id":"2a4a55698c64b.7dec88","type":"event","wires":[["27a5fbe5.7cae64"]],"idType":"event","eventSource":"page:4:component:741dd788-bce1-4217-8d36-ebc87d03517a:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","id":"807fef38b0929.7dec88","type":"event","wires":[["f6393b83.8b5c78"]],"idType":"event","eventSource":"page:4:component:a3a87cab-a9d4-4883-89fd-0c8f4e3113f0:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:534e1bf5-85e2-4627-bb6d-f769732a37a7","id":"e2ae18f715a28.7dec88","type":"event","wires":[["ae73a327.fb683"]],"idType":"event","eventSource":"page:4:component:534e1bf5-85e2-4627-bb6d-f769732a37a7:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":110,"y":40,"z":"page:4","id":"afbebc812d99.e7cec93e5cf43","type":"event","wires":[["a8094628b3a22.cc52d08a91956"]],"idType":"event","eventSource":"page:4:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page4"},{"x":320,"y":40,"z":"page:4","id":"a8094628b3a22.cc52d08a91956","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page4"}],"components":{"1-355d6af4-a358-406d-847f-a5e5e272b9f3":{"id":"1-355d6af4-a358-406d-847f-a5e5e272b9f3","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:1:component:355d6af4-a358-406d-847f-a5e5e272b9f3","styles":{"holder":{"flex":1,"backgroundColor":"#958ce0","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page1"},"307c4e70-2ed9-4b49-91cc-cec636c025a8":{"id":"307c4e70-2ed9-4b49-91cc-cec636c025a8","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"I offer 5 different workouts per week, to see the different types and times take a look at the schedule page.","visible":true,"flowGroupId":"page:1:component:307c4e70-2ed9-4b49-91cc-cec636c025a8","styles":{"text":{"color":"#ffffff","fontSize":16,"fontFamily":"Open Sans","fontWeight":"700","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page1"},"4c38772d-3352-4a8a-a040-346ac989f1f3":{"id":"4c38772d-3352-4a8a-a040-346ac989f1f3","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"View Workout Schedule and On Demand  Content","visible":true,"disabled":false,"flowGroupId":"page:1:component:4c38772d-3352-4a8a-a040-346ac989f1f3","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center"},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"bbf51665.8e2918"}],"onPress":[{"id":"bbf51665.8e2918"}]}},"reactClass":"Button","pageId":"page.Page1"},"b13927de-bb28-46d0-b9e8-5528accd36df":{"id":"b13927de-bb28-46d0-b9e8-5528accd36df","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"I you are interested in the remote personal coaching I can provide to you or your organisation please visit the Strive4 Website to learn more about what I can offer.","visible":true,"flowGroupId":"page:1:component:b13927de-bb28-46d0-b9e8-5528accd36df","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page1"},"c5e826b3-c196-441b-8486-6679eb30f31d":{"id":"c5e826b3-c196-441b-8486-6679eb30f31d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Personal Coaching","visible":true,"disabled":false,"flowGroupId":"page:1:component:c5e826b3-c196-441b-8486-6679eb30f31d","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center"},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"1c4d1872.cc7468"}],"onPress":[{"id":"1c4d1872.cc7468"}]}},"reactClass":"Button","pageId":"page.Page1"},"b12157c1-ff85-4ed3-9a69-38bf79214773":{"id":"b12157c1-ff85-4ed3-9a69-38bf79214773","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/a174a4a4-c1a5-47c0-96e4-7cee7b95afb5/image.png","visible":true,"flowGroupId":"page:1:component:b12157c1-ff85-4ed3-9a69-38bf79214773","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":"100%","opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"marginRight":0,"backfaceVisibility":"hidden"},"image":{"width":"100%","resizeMode":"contain"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"1382ff1a.5d3761"}],"onPress":[{"id":"1382ff1a.5d3761"}]}},"reactClass":"Picture","pageId":"page.Page1"},"2-5b3fa4ab-4ade-47d7-b331-41733aa5888b":{"id":"2-5b3fa4ab-4ade-47d7-b331-41733aa5888b","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:2:component:5b3fa4ab-4ade-47d7-b331-41733aa5888b","styles":{"holder":{"flex":1}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page2"},"3-38ca6327-f385-41aa-9915-8654c43825b1":{"id":"3-38ca6327-f385-41aa-9915-8654c43825b1","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:3:component:38ca6327-f385-41aa-9915-8654c43825b1","styles":{"holder":{"flex":1,"backgroundColor":"#958ce0","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page3"},"4b9eafba-390d-4b0e-a81a-51dfdccc47e4":{"id":"4b9eafba-390d-4b0e-a81a-51dfdccc47e4","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"About Workouts","visible":true,"flowGroupId":"page:3:component:4b9eafba-390d-4b0e-a81a-51dfdccc47e4","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"a35a7103-846e-4a79-9da5-b9837a45361c":{"id":"a35a7103-846e-4a79-9da5-b9837a45361c","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"These YouTube workouts started at the beginning of the 2020 Covid lockdown to replace a local fitness class that I ran.","visible":true,"flowGroupId":"page:3:component:a35a7103-846e-4a79-9da5-b9837a45361c","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"a988e759-f52a-42fe-8dcc-246cf5f58197":{"id":"a988e759-f52a-42fe-8dcc-246cf5f58197","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"I started with Monday night workouts, offering a gentle bend and stretch class a 30 min \"Green Route\" and a more cardio intensive \"Red Route\".\n","visible":true,"flowGroupId":"page:3:component:a988e759-f52a-42fe-8dcc-246cf5f58197","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"eec5ac32-af20-4d07-a3e2-ff111845e486":{"id":"eec5ac32-af20-4d07-a3e2-ff111845e486","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"I then added cardio / circuit workouts on Saturday morning (40mins), Tuesday lunchtime (40mins) and Thursday lunchtimes (30mins).","visible":true,"flowGroupId":"page:3:component:eec5ac32-af20-4d07-a3e2-ff111845e486","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"4486ffd2-1348-47ea-9fee-9301c106324a":{"id":"4486ffd2-1348-47ea-9fee-9301c106324a","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"All the workouts are free and can be done on demand. They require very little in the way of coordination and offer a good range of cardio and body weight exercises.","visible":true,"flowGroupId":"page:3:component:4486ffd2-1348-47ea-9fee-9301c106324a","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"c63e52dc-76a3-4532-b627-97a650807c5c":{"id":"c63e52dc-76a3-4532-b627-97a650807c5c","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"If you enjoy them and want to donate to my charity website for Cancer Research UK the link is below.","visible":true,"flowGroupId":"page:3:component:c63e52dc-76a3-4532-b627-97a650807c5c","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3"},"ad76727c-bfdb-43c4-9e33-b490008c4d24":{"id":"ad76727c-bfdb-43c4-9e33-b490008c4d24","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Donate","visible":true,"disabled":false,"flowGroupId":"page:3:component:ad76727c-bfdb-43c4-9e33-b490008c4d24","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center"},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"4fcdbedf.0cedc"}],"onPress":[{"id":"4fcdbedf.0cedc"}]}},"reactClass":"Button","pageId":"page.Page3"},"4-7de00a33-c855-4206-b363-7f502e37c68a":{"id":"4-7de00a33-c855-4206-b363-7f502e37c68a","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:7de00a33-c855-4206-b363-7f502e37c68a","styles":{"holder":{"flex":1,"backgroundColor":"#958ce0","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page4"},"3888c3fe-0417-4c56-aba1-1f6ee7937848":{"id":"3888c3fe-0417-4c56-aba1-1f6ee7937848","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Workout Schedule","visible":true,"flowGroupId":"page:4:component:3888c3fe-0417-4c56-aba1-1f6ee7937848","styles":{"text":{"color":"rgb(255,255,255)","fontSize":28,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4"},"936aaa24-1f28-4d62-bc47-cc3579ed3329":{"id":"936aaa24-1f28-4d62-bc47-cc3579ed3329","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"All Workouts Available on Demand","visible":true,"flowGroupId":"page:4:component:936aaa24-1f28-4d62-bc47-cc3579ed3329","styles":{"text":{"color":"rgb(255,255,255)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4"},"d1e7b885-083c-4f0c-88b6-c7a8fe765fb3":{"id":"d1e7b885-083c-4f0c-88b6-c7a8fe765fb3","props":{"contextPropTypes":["visible","data","styles","animationsConfig","columns","backgroundImage"],"columns":3,"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:d1e7b885-083c-4f0c-88b6-c7a8fe765fb3","styles":{"holder":{"width":"100%","opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"ebe7a6dd-3a0c-4439-8ff1-4497324ef303":{"id":"ebe7a6dd-3a0c-4439-8ff1-4497324ef303","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:ebe7a6dd-3a0c-4439-8ff1-4497324ef303","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"928c92b1-5535-4f9d-96e2-e0af179e8df3":{"id":"928c92b1-5535-4f9d-96e2-e0af179e8df3","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Live Stream Schedule","visible":true,"disabled":false,"flowGroupId":"page:4:component:928c92b1-5535-4f9d-96e2-e0af179e8df3","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center"},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"2c849577.4133aa"}],"onPress":[{"id":"2c849577.4133aa"}]}},"reactClass":"Button","pageId":"page.Page4"},"009e371a-4090-4cc8-88ac-2bcf744cc9ae":{"id":"009e371a-4090-4cc8-88ac-2bcf744cc9ae","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:009e371a-4090-4cc8-88ac-2bcf744cc9ae","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"width":20,"flexGrow":0},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"0e0c3955-9c0f-4dea-940f-8e27897ebdbc":{"id":"0e0c3955-9c0f-4dea-940f-8e27897ebdbc","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:0e0c3955-9c0f-4dea-940f-8e27897ebdbc","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"daf83e8a-cedb-4a13-8795-c3f4b7e265ab":{"id":"daf83e8a-cedb-4a13-8795-c3f4b7e265ab","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"On Demand Content","visible":true,"disabled":false,"flowGroupId":"page:4:component:daf83e8a-cedb-4a13-8795-c3f4b7e265ab","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center"},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(242, 242, 255, 0.75)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"541dc8c1.73fa38"}],"onPress":[{"id":"541dc8c1.73fa38"}]}},"reactClass":"Button","pageId":"page.Page4"},"534e1bf5-85e2-4627-bb6d-f769732a37a7":{"isComposite":true,"id":"534e1bf5-85e2-4627-bb6d-f769732a37a7","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","description","source","backgroundImage"],"label":"Green Route - Monday 6pm","description":"30min Bend and Stretch Class suitable for all","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/bb3dc8d0-9517-4481-8373-ec12d9b89d77/image.png","visible":true,"backgroundImage":"","flowGroupId":"page:4:component:534e1bf5-85e2-4627-bb6d-f769732a37a7","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"backfaceVisibility":"hidden","borderColor":"rgb(200, 223, 242)","borderStyle":"solid","borderBottomWidth":1},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"e2ae18f715a28.7dec88"}],"onPress":[{"id":"e2ae18f715a28.7dec88"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"9e62074b-fa98-4b9d-a820-5c9533776228":{"id":"9e62074b-fa98-4b9d-a820-5c9533776228","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:9e62074b-fa98-4b9d-a820-5c9533776228","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":0,"justifyContent":"center"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"534e1bf5-85e2-4627-bb6d-f769732a37a7"},"f3d0ea85-5bd4-424a-b9fc-5e260124733f":{"id":"f3d0ea85-5bd4-424a-b9fc-5e260124733f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/composer3/images/image_placeholder.png","visible":true,"bindings":[{"type":"component","sourceId":"534e1bf5-85e2-4627-bb6d-f769732a37a7","sourceProp":"source","sourcePropSubPath":"","targetProp":"src"}],"flowGroupId":"page:4:component:f3d0ea85-5bd4-424a-b9fc-5e260124733f","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":72,"opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"backfaceVisibility":"hidden","marginRight":16},"image":{"width":72,"resizeMode":"contain"}},"dynamicProps":["src"],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page4","rcid":"534e1bf5-85e2-4627-bb6d-f769732a37a7"},"97a4ef84-00af-4073-9748-24fe7192d2c0":{"id":"97a4ef84-00af-4073-9748-24fe7192d2c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:97a4ef84-00af-4073-9748-24fe7192d2c0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"flex-start"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"534e1bf5-85e2-4627-bb6d-f769732a37a7"},"dd372f51-1749-4186-84a7-63d565a46474":{"id":"dd372f51-1749-4186-84a7-63d565a46474","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"534e1bf5-85e2-4627-bb6d-f769732a37a7","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"71e543e0-6d97-4a11-9b05-ce64e288b9f6","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:dd372f51-1749-4186-84a7-63d565a46474","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textTransform":"none"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"534e1bf5-85e2-4627-bb6d-f769732a37a7"},"22c01374-726e-4551-9480-7f3f1c9603c0":{"id":"22c01374-726e-4551-9480-7f3f1c9603c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"component","sourceId":"534e1bf5-85e2-4627-bb6d-f769732a37a7","sourceProp":"description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"8a833d0d-26b2-4077-913a-d4238b23ee7e","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:22c01374-726e-4551-9480-7f3f1c9603c0","styles":{"text":{"color":"rgb(255,255,255)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":16,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":0,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"534e1bf5-85e2-4627-bb6d-f769732a37a7"},"5b253534-ef5a-4c4f-9e9a-34b885d8d17b":{"isComposite":true,"id":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","description","source","backgroundImage"],"label":"Red Route - Monday 6:30","description":"50min Cardio Circuit workout with bodyweight and abs exercises","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/6796479f-16d2-4ea3-985d-c867aee64508/image.png","visible":true,"backgroundImage":"","flowGroupId":"page:4:component:5b253534-ef5a-4c4f-9e9a-34b885d8d17b","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"backfaceVisibility":"hidden","borderColor":"rgb(200, 223, 242)","borderStyle":"solid","borderBottomWidth":1},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"08452204086da.7dec88"}],"onPress":[{"id":"08452204086da.7dec88"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"fec2e1ba-03b8-4872-b58b-5c9533776228":{"id":"fec2e1ba-03b8-4872-b58b-5c9533776228","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:fec2e1ba-03b8-4872-b58b-5c9533776228","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":0,"justifyContent":"center"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b"},"dde9478a-71bc-484f-aa69-5e260124733f":{"id":"dde9478a-71bc-484f-aa69-5e260124733f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/composer3/images/image_placeholder.png","visible":true,"bindings":[{"type":"component","sourceId":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b","sourceProp":"source","sourcePropSubPath":"","targetProp":"src"}],"flowGroupId":"page:4:component:dde9478a-71bc-484f-aa69-5e260124733f","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":72,"opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"backfaceVisibility":"hidden","marginRight":16},"image":{"width":72,"resizeMode":"contain"}},"dynamicProps":["src"],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page4","rcid":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b"},"f8fa075a-4e91-4dae-874e-24fe7192d2c0":{"id":"f8fa075a-4e91-4dae-874e-24fe7192d2c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:f8fa075a-4e91-4dae-874e-24fe7192d2c0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"flex-start"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b"},"a396aa68-9ffc-464e-abc1-63d565a46474":{"id":"a396aa68-9ffc-464e-abc1-63d565a46474","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"55307e29-980a-4f09-9f09-64925dd68904","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:a396aa68-9ffc-464e-abc1-63d565a46474","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textTransform":"none"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b"},"f58aef86-16b2-48ce-91df-7f3f1c9603c0":{"id":"f58aef86-16b2-48ce-91df-7f3f1c9603c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"component","sourceId":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b","sourceProp":"description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"bd6be40c-4d4c-4924-96cc-0c3b8b5f1969","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:f58aef86-16b2-48ce-91df-7f3f1c9603c0","styles":{"text":{"color":"rgb(255,255,255)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":16,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":0,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"5b253534-ef5a-4c4f-9e9a-34b885d8d17b"},"ff7793e7-a8f8-409a-ad90-8458cde33a88":{"isComposite":true,"id":"ff7793e7-a8f8-409a-ad90-8458cde33a88","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","description","source","backgroundImage"],"label":"HIIT not Run - Tuesday 12:10pm","description":"40min lunchtime cardio circuit training class with modifications for most exercises to suit different abilities","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/121f8d5f-bb3c-4ee6-b2ba-487594bd708a/image.png","visible":true,"backgroundImage":"","flowGroupId":"page:4:component:ff7793e7-a8f8-409a-ad90-8458cde33a88","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"backfaceVisibility":"hidden","borderColor":"rgb(200, 223, 242)","borderStyle":"solid","borderBottomWidth":1},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"126c1f2bc685.7dec88"}],"onPress":[{"id":"126c1f2bc685.7dec88"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"133b3f41-da4c-4111-8343-5c9533776228":{"id":"133b3f41-da4c-4111-8343-5c9533776228","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:133b3f41-da4c-4111-8343-5c9533776228","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":0,"justifyContent":"center"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"ff7793e7-a8f8-409a-ad90-8458cde33a88"},"c821bf33-d40d-49e3-8667-5e260124733f":{"id":"c821bf33-d40d-49e3-8667-5e260124733f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/composer3/images/image_placeholder.png","visible":true,"bindings":[{"type":"component","sourceId":"ff7793e7-a8f8-409a-ad90-8458cde33a88","sourceProp":"source","sourcePropSubPath":"","targetProp":"src"}],"flowGroupId":"page:4:component:c821bf33-d40d-49e3-8667-5e260124733f","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":72,"opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"backfaceVisibility":"hidden","marginRight":16},"image":{"width":72,"resizeMode":"contain"}},"dynamicProps":["src"],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page4","rcid":"ff7793e7-a8f8-409a-ad90-8458cde33a88"},"d1ae8e62-5eb2-4e08-9b86-24fe7192d2c0":{"id":"d1ae8e62-5eb2-4e08-9b86-24fe7192d2c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:d1ae8e62-5eb2-4e08-9b86-24fe7192d2c0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"flex-start"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"ff7793e7-a8f8-409a-ad90-8458cde33a88"},"364fcb0c-7d15-4d2d-8800-63d565a46474":{"id":"364fcb0c-7d15-4d2d-8800-63d565a46474","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"ff7793e7-a8f8-409a-ad90-8458cde33a88","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"2c0ee575-24f3-4ce2-877d-b17f989cfc51","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:364fcb0c-7d15-4d2d-8800-63d565a46474","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textTransform":"none"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"ff7793e7-a8f8-409a-ad90-8458cde33a88"},"b6fa92b9-8fd6-4a03-9efc-7f3f1c9603c0":{"id":"b6fa92b9-8fd6-4a03-9efc-7f3f1c9603c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"component","sourceId":"ff7793e7-a8f8-409a-ad90-8458cde33a88","sourceProp":"description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"f71b6f15-fc77-4b7b-bddc-d3c8365dfbdb","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:b6fa92b9-8fd6-4a03-9efc-7f3f1c9603c0","styles":{"text":{"color":"rgb(255,255,255)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":16,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":0,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"ff7793e7-a8f8-409a-ad90-8458cde33a88"},"741dd788-bce1-4217-8d36-ebc87d03517a":{"isComposite":true,"id":"741dd788-bce1-4217-8d36-ebc87d03517a","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","description","source","backgroundImage"],"label":"No Bike Spin - Thursday 12:00pm","description":"30min lunchtime cardio workout with 3-4min cardio / body weight routines of 2-3 different exercises (no abs)\n","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/25ddaa82-4e43-4b15-9b05-f46fb304ddf1/image.png","visible":true,"backgroundImage":"","flowGroupId":"page:4:component:741dd788-bce1-4217-8d36-ebc87d03517a","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"backfaceVisibility":"hidden","borderColor":"rgb(200, 223, 242)","borderStyle":"solid","borderBottomWidth":1},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"2a4a55698c64b.7dec88"}],"onPress":[{"id":"2a4a55698c64b.7dec88"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"2cfe8a66-601a-46bd-8d3c-5c9533776228":{"id":"2cfe8a66-601a-46bd-8d3c-5c9533776228","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:2cfe8a66-601a-46bd-8d3c-5c9533776228","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":0,"justifyContent":"center"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"741dd788-bce1-4217-8d36-ebc87d03517a"},"b62376b5-1450-4468-aa34-5e260124733f":{"id":"b62376b5-1450-4468-aa34-5e260124733f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/composer3/images/image_placeholder.png","visible":true,"bindings":[{"type":"component","sourceId":"741dd788-bce1-4217-8d36-ebc87d03517a","sourceProp":"source","sourcePropSubPath":"","targetProp":"src"}],"flowGroupId":"page:4:component:b62376b5-1450-4468-aa34-5e260124733f","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":72,"opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"backfaceVisibility":"hidden","marginRight":16},"image":{"width":72,"resizeMode":"contain"}},"dynamicProps":["src"],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page4","rcid":"741dd788-bce1-4217-8d36-ebc87d03517a"},"9dd6c775-2844-4958-8503-24fe7192d2c0":{"id":"9dd6c775-2844-4958-8503-24fe7192d2c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:9dd6c775-2844-4958-8503-24fe7192d2c0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"flex-start"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"741dd788-bce1-4217-8d36-ebc87d03517a"},"13b1bbee-fb03-4665-9125-63d565a46474":{"id":"13b1bbee-fb03-4665-9125-63d565a46474","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"741dd788-bce1-4217-8d36-ebc87d03517a","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"1d7fb97f-f18f-474d-8da3-e2d4f947f015","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:13b1bbee-fb03-4665-9125-63d565a46474","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textTransform":"none"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"741dd788-bce1-4217-8d36-ebc87d03517a"},"439da43b-8324-4418-bc84-7f3f1c9603c0":{"id":"439da43b-8324-4418-bc84-7f3f1c9603c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"component","sourceId":"741dd788-bce1-4217-8d36-ebc87d03517a","sourceProp":"description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"91e19efa-c554-416c-8a02-0f659968cedd","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:439da43b-8324-4418-bc84-7f3f1c9603c0","styles":{"text":{"color":"rgb(255,255,255)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":16,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":0,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"741dd788-bce1-4217-8d36-ebc87d03517a"},"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0":{"isComposite":true,"id":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","description","source","backgroundImage"],"label":"Virtually Fit - Saturday 9:30am","description":"40min cardio workout with cardio, body weight and abs exercises","source":"https://appgyver-meap-assets.s3.amazonaws.com/uploads/asset/acual_asset/c1cb1aa5-023a-46e6-b0db-522a74aa9e5c/image.png","visible":true,"backgroundImage":"","flowGroupId":"page:4:component:a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"row","paddingBottom":0,"justifyContent":"flex-start","backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"backfaceVisibility":"hidden","borderColor":"rgb(200, 223, 242)","borderStyle":"solid","borderBottomWidth":1},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"807fef38b0929.7dec88"}],"onPress":[{"id":"807fef38b0929.7dec88"}]}},"reactClass":"FlexBoxLayout","pageId":"page.Page4"},"469bcee5-4f02-458c-8ca3-5c9533776228":{"id":"469bcee5-4f02-458c-8ca3-5c9533776228","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:469bcee5-4f02-458c-8ca3-5c9533776228","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":0,"justifyContent":"center"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0"},"84eb3ad2-9b89-4b4c-8598-5e260124733f":{"id":"84eb3ad2-9b89-4b4c-8598-5e260124733f","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/composer3/images/image_placeholder.png","visible":true,"bindings":[{"type":"component","sourceId":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","sourceProp":"source","sourcePropSubPath":"","targetProp":"src"}],"flowGroupId":"page:4:component:84eb3ad2-9b89-4b4c-8598-5e260124733f","styles":{"con":{"marginTop":8,"borderRadius":0,"marginBottom":8,"width":72,"opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"backfaceVisibility":"hidden","marginRight":16},"image":{"width":72,"resizeMode":"contain"}},"dynamicProps":["src"],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page4","rcid":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0"},"e94f58c6-10bd-402b-9c7f-24fe7192d2c0":{"id":"e94f58c6-10bd-402b-9c7f-24fe7192d2c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:e94f58c6-10bd-402b-9c7f-24fe7192d2c0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","marginTop":0,"alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","alignContent":"flex-start","borderRadius":0,"marginBottom":0,"paddingRight":0,"shadowRadius":0,"flexDirection":"column","paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOpacity":0,"flexGrow":1,"flexBasis":0,"justifyContent":"flex-start"},"backgroundImage":{"resizeMode":"cover"}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page4","rcid":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0"},"71fe0fce-fee2-41e1-9b5b-63d565a46474":{"id":"71fe0fce-fee2-41e1-9b5b-63d565a46474","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"28fde66d-140f-4468-9235-6f821e712559","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:71fe0fce-fee2-41e1-9b5b-63d565a46474","styles":{"text":{"color":"rgb(255,255,255)","fontSize":18,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textTransform":"none"},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)"}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0"},"a03471cb-0ad0-444c-a854-7f3f1c9603c0":{"id":"a03471cb-0ad0-444c-a854-7f3f1c9603c0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"bindings":[{"type":"component","sourceId":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0","sourceProp":"description","sourcePropSubPath":"","targetProp":"content"}],"stylesBindings":[{"type":"expression","sourceId":"3afa0d5a-fadd-49c2-8406-0b00e4b981c7","targetProp":"text.letterSpacing"}],"flowGroupId":"page:4:component:a03471cb-0ad0-444c-a854-7f3f1c9603c0","styles":{"text":{"color":"rgb(255,255,255)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":16,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid"},"view":{"marginTop":0,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4","rcid":"a3a87cab-a9d4-4883-89fd-0c8f4e3113f0"}},"app":{"events":{},"id":195247},"theme":{"$fontSizeH1":42,"$fontSizeH2":28,"$fontSizeH3":21,"$fontSizeH4":18,"$fontSizeH5":16,"$fontSizeH6":14,"$spacerBase":8,"$colorNotice":"#E68619","$colorShadow":"rgba(242, 242, 255, 0.75)","$fontWeightH1":"600","$fontWeightH2":"600","$fontWeightH3":"600","$fontWeightH4":"400","$fontWeightH5":"700","$fontWeightH6":"600","$iconSizeTiny":8,"$lineHeightH1":52,"$lineHeightH2":36,"$lineHeightH3":28,"$lineHeightH4":24,"$lineHeightH5":24,"$lineHeightH6":24,"$colorNegative":"#E34850","$colorPositive":"#2D9D78","$fontSizeLabel":14,"$iconSizeLarge":32,"$iconSizeSmall":16,"$inputFontSize":16,"$buttonFontSize":18,"$iconSizeMedium":24,"$inputMinHeight":48,"$buttonMinHeight":56,"$cardBorderColor":"rgb(200, 223, 242)","$cardBorderStyle":"solid","$cardBorderWidth":2,"$cardShadowColor":"rgba(242, 242, 255, 0.75)","$colorBackground":"#958ce0","$colorFontNotice":"#E68619","$colorNoticeTint":"rgb(233,146,48)","$fontSizeCaption":12,"$fontWeightLabel":"600","$inputFontFamily":"Open Sans","$inputFontWeight":"400","$letterSpacingH1":"normal","$letterSpacingH2":"normal","$letterSpacingH3":"normal","$letterSpacingH4":"normal","$letterSpacingH5":"0.64","$letterSpacingH6":"normal","$lineHeightLabel":24,"$primaryTabColor":"rgb(255,255,255)","$textTransformH1":"none","$textTransformH2":"none","$textTransformH3":"none","$textTransformH4":"none","$textTransformH5":"uppercase","$textTransformH6":"none","$buttonFontFamily":"Open Sans","$cardBorderRadius":3,"$colorFontPrimary":"rgb(255,255,255)","$colorFontSubdued":"rgb(200, 223, 242)","$colorInformative":"rgb(9, 59, 154)","$colorNoticeShade":"rgb(207,121,23)","$fontFamilyHeader":"Open Sans","$imageBorderColor":"rgb(200, 223, 242)","$imageBorderStyle":"none","$imageBorderWidth":0,"$inputBorderStyle":"solid","$inputColorBorder":"rgb(200, 223, 242)","$inputShadowColor":"rgba(242, 242, 255, 0.75)","$buttonBorderStyle":"none","$buttonBorderWidth":0,"$buttonShadowColor":"rgba(242, 242, 255, 0.75)","$cardShadowEnabled":false,"$cardShadowOffsetX":0,"$cardShadowOffsetY":2,"$checkboxSizeLarge":30,"$checkboxSizeSmall":19,"$colorFontDisabled":"rgb(200, 223, 242)","$colorFontNegative":"#E34850","$colorFontPositive":"#2D9D78","$colorNegativeTint":"rgb(230,94,101)","$colorPositiveTint":"rgb(51,177,135)","$fontFamilyContent":"Open Sans","$fontSizeParagraph":16,"$fontWeightCaption":"700","$imageBorderRadius":0,"$inputBorderRadius":0,"$lineHeightCaption":20,"$listItemMinHeight":64,"$primaryAppBgColor":"rgb(78, 78, 79)","$primaryTabBgColor":"rgb(78, 78, 79)","$buttonBorderRadius":3,"$cardMarginVertical":16,"$checkboxSizeMedium":24,"$colorFontHighlight":"rgb(0,62,255)","$colorNegativeShade":"rgb(224,50,59)","$colorPositiveShade":"rgb(39,137,105)","$inputShadowEnabled":false,"$inputShadowOffsetX":0,"$inputShadowOffsetY":0,"$letterSpacingLabel":"0","$listItemImageWidth":48,"$primaryNavBarColor":"rgb(255,255,255)","$textTransformLabel":"none","$buttonShadowEnabled":false,"$buttonShadowOffsetX":0,"$buttonShadowOffsetY":4,"$cardBackgroundColor":"#958ce0","$cardPaddingVertical":16,"$checkboxIconChecked":"check-square","$colorContentPrimary":"rgb(255,255,255)","$colorContentSubdued":"rgb(200, 223, 242)","$colorNoticeContrast":"rgb(255, 255, 255)","$fontWeightParagraph":"400","$inputBorderWidthTop":0,"$inputFontLineHeight":24,"$lineHeightParagraph":24,"$listItemBorderColor":"rgb(200, 223, 242)","$listItemBorderStyle":"solid","$listItemBorderWidth":1,"$paddingPageVertical":8,"$primaryTabTintColor":"rgb(9, 59, 154)","$buttonFontLineHeight":24,"$cardShadowBlurRadius":5,"$colorFontInformative":"rgb(9, 59, 154)","$colorFontPlaceholder":"rgb(200, 223, 242)","$colorInformativeTint":"rgb(10,68,178)","$inputBorderWidthLeft":0,"$inputColorBackground":"rgba(255,255,255,0)","$inputPaddingVertical":8,"$letterSpacingCaption":"0.48","$primaryNavBarBgColor":"rgb(78, 78, 79)","$radioButtonSizeLarge":30,"$radioButtonSizeSmall":19,"$textTransformCaption":"uppercase","$cardPaddingHorizontal":16,"$checkboxIconUnchecked":"square","$colorContentHighlight":"rgb(0,62,255)","$colorInformativeShade":"rgb(8,50,130)","$colorNegativeContrast":"rgb(255, 255, 255)","$colorPositiveContrast":"rgb(255, 255, 255)","$inputBorderWidthRight":0,"$inputShadowBlurRadius":0,"$paddingPageHorizontal":16,"$radioButtonSizeMedium":24,"$buttonShadowBlurRadius":7,"$fontSizeParagraphLarge":18,"$fontSizeParagraphSmall":14,"$inputBorderWidthBottom":1,"$inputFontLetterSpacing":"normal","$inputFontTextTransform":"none","$inputPaddingHorizontal":0,"$letterSpacingParagraph":"normal","$textTransformParagraph":"none","$buttonFontLetterSpacing":"normal","$buttonFontTextTransform":"none","$inputLabelFontTextAlign":"left","$listItemImageWidthLarge":72,"$radioButtonIconSelected":"check-square","$colorBackgroundSecondary":"rgb(78, 78, 79)","$colorInformativeContrast":"rgb(255, 255, 255)","$fontWeightParagraphLarge":"400","$fontWeightParagraphSmall":"400","$inputLabelMarginVertical":0,"$lineHeightParagraphLarge":24,"$lineHeightParagraphSmall":16,"$radioButtonIconUnselected":"square","$letterSpacingParagraphLarge":"normal","$letterSpacingParagraphSmall":"normal","$primaryTabInactiveTintColor":"rgb(200, 223, 242)","$textTransformParagraphLarge":"none","$textTransformParagraphSmall":"none","$inputLabelBottomMarginHorizontal":0},"fonts":[],"expressions":{"71e543e0-6d97-4a11-9b05-ce64e288b9f6":{"script":"LOOKUP(theme,\"$letterSpacingH4\")","formula":"theme.$letterSpacingH4","dependencies":[["theme","$letterSpacingH4"]]},"8a833d0d-26b2-4077-913a-d4238b23ee7e":{"script":"LOOKUP(theme,\"$letterSpacingParagraphSmall\")","formula":"theme.$letterSpacingParagraphSmall","dependencies":[["theme","$letterSpacingParagraphSmall"]]},"55307e29-980a-4f09-9f09-64925dd68904":{"script":"LOOKUP(theme,\"$letterSpacingH4\")","formula":"theme.$letterSpacingH4","dependencies":[["theme","$letterSpacingH4"]]},"bd6be40c-4d4c-4924-96cc-0c3b8b5f1969":{"script":"LOOKUP(theme,\"$letterSpacingParagraphSmall\")","formula":"theme.$letterSpacingParagraphSmall","dependencies":[["theme","$letterSpacingParagraphSmall"]]},"2c0ee575-24f3-4ce2-877d-b17f989cfc51":{"script":"LOOKUP(theme,\"$letterSpacingH4\")","formula":"theme.$letterSpacingH4","dependencies":[["theme","$letterSpacingH4"]]},"f71b6f15-fc77-4b7b-bddc-d3c8365dfbdb":{"script":"LOOKUP(theme,\"$letterSpacingParagraphSmall\")","formula":"theme.$letterSpacingParagraphSmall","dependencies":[["theme","$letterSpacingParagraphSmall"]]},"1d7fb97f-f18f-474d-8da3-e2d4f947f015":{"script":"LOOKUP(theme,\"$letterSpacingH4\")","formula":"theme.$letterSpacingH4","dependencies":[["theme","$letterSpacingH4"]]},"91e19efa-c554-416c-8a02-0f659968cedd":{"script":"LOOKUP(theme,\"$letterSpacingParagraphSmall\")","formula":"theme.$letterSpacingParagraphSmall","dependencies":[["theme","$letterSpacingParagraphSmall"]]},"28fde66d-140f-4468-9235-6f821e712559":{"script":"LOOKUP(theme,\"$letterSpacingH4\")","formula":"theme.$letterSpacingH4","dependencies":[["theme","$letterSpacingH4"]]},"3afa0d5a-fadd-49c2-8406-0b00e4b981c7":{"script":"LOOKUP(theme,\"$letterSpacingParagraphSmall\")","formula":"theme.$letterSpacingParagraphSmall","dependencies":[["theme","$letterSpacingParagraphSmall"]]}},"globalCanvas":{"uid":"page.Page2","id":2,"contextId":"canvas/page.Page2","pageId":"page.Page2"},"i18n":{"translations":{},"supportedLanguages":[]},"environment":{"workspaceApp":{"id":195247},"app":{"id":297472,"demo":false,"paid":false,"free":true,"tokens":{"steroids":"54bc3cc7b54a62adb210b8fc2c7345bcb1b819a80a461af3495ca044a1fef355","data":"c8347a1d31d459bd881800e1fd8d8d4a","segmentOwnerId":null,"androidGcmSenderProjectId":null},"auth":{"primary":"anonymous"},"title":"Strive4 - Workout"},"links":{"user_account":"https://accounts.appgyver.com/users/edit"},"endpoints":{"domain":"appgyver.com","auth":"https://rest-auth.appgyver.com/api/v5","data":"https://proxy-api.appgyver.com/v3/","graphql":"https://graphql-api.appgyver.com/graphql_api/v1","debug":"https://debug-api.appgyver.com/debug_api"},"auth":{"endpoint":"https://rest-auth.appgyver.com/api/v5"},"data":{"type":"rest","endpoint":"https://proxy-api.appgyver.com/v3/","bundle":{"options":{"baseUrl":"https://proxy-api.appgyver.com/v3/","headers":{"steroidsAppId":"297472","steroidsApiKey":"54bc3cc7b54a62adb210b8fc2c7345bcb1b819a80a461af3495ca044a1fef355","RestAuthorization":"c8347a1d31d459bd881800e1fd8d8d4a"}},"resources":{}},"collections":[],"relations":[],"business_objects":[]},"modules":{"routes":{}}},"dataResources":{}},"__N_SSG":true}